@charset "UTF-8";

body{
    margin:0;
}

.container{
    width:100%;
    padding-left:3%;
    padding-right:3%;
    
}
/*--- header ---*/
header{
    height:60px;
    width:100%;
    background-color: rgba(212, 186, 153, 0.842);
    margin:0;
    
    
}
.header-left{
    float:left;
    padding:10px 0 0 0;
}
.header-logo{
    width:50px;
    
}
.menu-icon{
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display:none;
}
#menu-icon:hover{
    cursor:pointer;
}
.header-right{
    float:right;
    margin-right:50px;
}
.header-right a{
    text-decoration:none;
    color:rgba(255, 255, 255, 0.7);
    font-family:Khmer MN;
    font-size: 25px;
}
.header-right a:hover{
    color:white;
}
.header-right li{
    list-style: none;
    padding-left:50px;
    float:left;
    font-size:20px;
    line-height:60px;
    
}
.hide-menu{
    text-align:center;
    z-index:99;
    color:white;
    font-family:Khmer MN;
    background-color:rgb(212, 186, 153);
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.hide-menu a{
    text-align:center;
    font-size:24px;
    line-height: 50px;
}
.fa-times{
    text-align:right;
    font-size: 25px;
    position:fixed;
    top:20px;
    right:21.5px;
    display:none;
}
.fa-times:hover{
    cursor:pointer;
}
/*--- TOP ---*/
.top-wrapper{
    margin:0 auto;
    color:rgb(78, 78, 78);
    height:200px;
    background-size:cover;
    background-image: url(background.jpg);
    text-align: center;
    padding-top:25px;
    
}
.content{
    background-color: rgba(212, 186, 153, 0.9);
    margin:0 auto;
    padding-top:25px;
    height:150px;
    width:60%;
    
}

.content h1{
    font-family:Khmer MN;
    font-size:40px;
    font-weight: lighter;
    
}
.content h2{
    font-size: 18px;
    font-family: zen-old-mincho, sans-serif;
    font-weight: 400;  
    font-style: normal;
    margin-bottom:20px;
}
.content p{
    font-size:14px;
    font-family:zen-old-mincho, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*---  ---*/
.news-wrapper{
    margin:20px 0;
    color:rgb(78, 78, 78);
    padding-bottom:20px;
}
.news-wrapper h2{
    font-family:Khmer MN;
    font-size:40px;
}
.news{
    background-color: rgba(212, 186, 153, 0.125);
    font-family: zen-old-mincho, sans-serif;
    border:2px solid rgb(230, 180, 53);
    border-radius:5px;
    margin:5px 0;
    padding:15px;
}
.news h3{
    font-weight:bold;
    font-size:large;
}
.date{
    font-size:small;
}
.news-heading:hover{
    cursor: pointer;
}
.news-content{
    display:none;
}
/*--- footer ---*/
footer{
    margin-top:5px;
    width:100%;
    height:100px;
    border-top:2px solid rgb(230, 180, 53);
    font-family:Khmer MN;
}

.footer-left{
    float:left;
}
.footer-logo{
    margin-top:15px;
    width:65px;
}
.footer-right{
    float:right;
    margin-top: 10px;
}
.footer-right li{
    list-style: none;
    color:rgb(78, 78, 78)
}
/*--- tablet ---*/
@media(max-width:1000px){
    .coffee{
        width:100%;
    }
    .kodawari{
        width:100%;
    }
}

/*--- smartphone ---*/
@media(max-width:670px){
    /**HEADER**/
    .header-right{
        display:none
    }
    .menu-icon{
        display:block;
    }
    /**TOP-WRAPPER**/
    .top-wrapper{
        height:300px;
        padding-top:25px;
        
    }
    .content{
        padding:25px 20px 0 20px;
        height:250px;
        width:80%;
        
    }
    /**MENU**/
    .coffee{
        width:100%;
    }
    .kodawari{
        width:100%;
    }
    
}
